.pagination{
    display: flex;
    list-style: none;
}

.pagination > li > a{
    border: 1px solid black ;
    padding: 5px 10px;
    outline: none;
    cursor: pointer;
}

.pagination > .active > a{
    background-color: #47ccde ;
    border-color: #47ccde ;
    color: #fff;
  }

.ControlsContainer{
    display: flex;
    align-items: center;
}