.Table{
    background-color: #ECF5FA;
    border-collapse: separate !important;
    border-spacing: 0 7px !important;
    
}

.MuiTableCell-root.TableHeader{
    border: 1px solid gray;
    border-right: none;
    background-color: white;
    padding: 7px;
}

.TableRow{
    background-color: white;
}

.MuiTableCell-root.TableCell {
    padding: 7px;
}

.HeaderCell{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    font-weight: 600;
    padding: 5px;
    color: gray;
}

.IconImage{
    height: 25px
}



